{
  "openapi": "3.1.0",
  "info": {
    "title": "Terminal Telematics API",
    "description": "Terminal is a unified API that makes it easy to integrate with the leading telematics service providers.",
    "version": "0.0",
    "contact": {
      "name": "Terminal",
      "email": "connect@withterminal.com",
      "url": "https://www.withterminal.com"
    }
  },
  "servers": [
    {
      "url": "https://api.withterminal.com/tsp/v1",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.withterminal.com/tsp/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/public-token/exchange": {
      "post": {
        "summary": "Public Token Exchange",
        "operationId": "publicTokenExchange",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Exchange the `publicToken` returned by our hosted authentication flow for a long lived connection token that will be used when requesting data from a customer's TSP.",
        "tags": ["Authentication"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publicToken": {
                    "$ref": "#/components/schemas/PublicToken"
                  }
                },
                "required": ["publicToken"]
              }
            }
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/link/short": {
      "post": {
        "summary": "Create Short Link URL",
        "operationId": "createShortLink",
        "description": "Create a short URL for the Link onboarding flow as an alternative to the full Link URL with all its query parameters.\n\nThe response contains a durable `id`, an 8-character `code`, and the full `url` to share with your user. Short links are valid for 1 year from creation.\n\nStore the `id` if you may need to delete the short link later. The public `code` / `url` alone cannot be used to revoke a link.\n\nIdentical request bodies are de-duplicated automatically. Calling this endpoint a second time with the same parameters returns the original short link (including its `id`) with an `Idempotent-Replayed: true` response header.",
        "tags": ["Link"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional human-readable name to associate with the resulting connection."
                  },
                  "provider": {
                    "$ref": "#/components/schemas/ProviderCode"
                  },
                  "providerHints": {
                    "type": "array",
                    "description": "An optional list of provider codes to hoist to the top of the Link provider list.",
                    "items": {
                      "$ref": "#/components/schemas/ProviderCode"
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "example": "fleet_456",
                    "description": "An optional ID from your system that can be used to reference connections."
                  },
                  "tags": {
                    "type": "array",
                    "description": "An optional list of tags from your system that can be used to reference connections.",
                    "items": {
                      "type": "string",
                      "example": "Tag Name"
                    }
                  },
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://app.acme.com/telematics-success",
                    "description": "URL to redirect your user to after they complete the Link flow."
                  },
                  "syncMode": {
                    "$ref": "#/components/schemas/SyncMode"
                  },
                  "backfill": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "Optional backfill to be requested upon successful connection. Will start from NOW if not provided.",
                    "properties": {
                      "startFrom": {
                        "$ref": "#/components/schemas/ISODateTime"
                      },
                      "days": {
                        "type": "number"
                      }
                    }
                  },
                  "template": {
                    "type": "string",
                    "title": "LinkTemplateId",
                    "description": "Unique identifier for the Link Template.",
                    "format": "ulid",
                    "example": "ltp_01HXQ4YK8V2X0X0X0X0X0X0X0X"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Idempotent-Replayed": {
                "schema": {
                  "type": "boolean",
                  "enum": [true]
                },
                "description": "Always `true` on a 200 response. It indicates that an existing short link was returned instead of minting a new one."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortLink"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ShortLink"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/link/short/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/ShortLinkId"
          },
          "in": "path",
          "required": true
        }
      ],
      "delete": {
        "summary": "Delete Short Link",
        "operationId": "deleteShortLink",
        "description": "Permanently delete a short link by its durable `id` from the create response (`slk_…`). This endpoint does not accept the 8-character `code` from the shared URL.\n\nAfter deletion, the short URL stops resolving immediately and the code may be reused by a future mint.",
        "tags": ["Link"],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles": {
      "get": {
        "x-mcp": "all",
        "summary": "List Vehicles",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listVehicles",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Hidden"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups", "devices", "devices,groups", "groups,devices"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "List all of the vehicles in the connected account"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/VehicleId"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "x-mcp": "all",
        "summary": "Get Vehicle",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getVehicle",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups", "devices", "devices,groups", "groups,devices"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "Get the details of a specific vehicle"
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/drivers": {
      "get": {
        "x-mcp": "all",
        "summary": "List Drivers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Driver"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listDrivers",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Hidden"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "tags": ["Drivers"],
        "description": "List all of the drivers in the connected account"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/drivers/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/DriverId"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "x-mcp": "all",
        "summary": "Get Driver",
        "tags": ["Drivers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Driver"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getDriver",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "Get the details of a specific driver"
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/available-time": {
      "get": {
        "x-mcp": "all",
        "summary": "Available Time for Drivers",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSAvailableTime"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSAvailableTime",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List available time for the driver. This endpoint provides live access to the driver's available time. Different than most endpoints, this endpoint calls the provider's API in real time to get the latest available time for the driver. This endpoint is useful for building real time applications that need to know the driver's available time."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/logs": {
      "get": {
        "x-mcp": "all",
        "summary": "List HOS Logs",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started before a provided date."
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": [
                "driver",
                "vehicle",
                "codrivers",
                "driver,vehicle",
                "driver,codrivers",
                "vehicle,driver",
                "vehicle,codrivers",
                "codrivers,driver",
                "codrivers,vehicle",
                "driver,vehicle,codrivers",
                "driver,codrivers,vehicle",
                "vehicle,driver,codrivers",
                "vehicle,codrivers,driver",
                "codrivers,driver,vehicle",
                "codrivers,vehicle,driver"
              ]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List all hours of service logs. HOS logs are tracked as the distinct changes in duty status."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/daily-logs": {
      "get": {
        "x-mcp": "all",
        "summary": "List HOS Daily Logs",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSDailyLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSDailyLogs",
        "description": "List daily summary of hours of service. Each daily log represents the time a driver spent in each duty status for a given day.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver", "vehicles", "driver,vehicles", "vehicles,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/locations": {
      "get": {
        "x-mcp": "all",
        "summary": "Latest Vehicle Locations",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LatestVehicleLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "503": {
            "$ref": "#/components/responses/ProviderUnavailableError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listLatestVehicleLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "vehicle,driver", "driver,vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "List the latest location of the vehicles in the connected account.\nThis endpoint will call the provider's API in real time to get the latest location of the vehicle. \n_Please note: this endpoint will exclude vehicles that have no last known location._"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{vehicleId}/locations": {
      "get": {
        "x-mcp": "all",
        "summary": "Historical Vehicle Locations",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "listHistoricalVehicleLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List the historical breadcrumb locations for a vehicle.\n\n_Note:_\n\nGiven the large volume of location data available, we encourage customers to accept compressed (`gzip`) responses in order to maximize throughput. This is supported with many popular HTTP clients. Result limits vary depending on if results are compressed or not."
      },
      "parameters": [
        {
          "name": "vehicleId",
          "schema": {
            "$ref": "#/components/schemas/VehicleId"
          },
          "in": "path",
          "required": true,
          "description": "Vehicle to retrieve breadcrumb locations for"
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/utilization": {
      "get": {
        "x-mcp": "all",
        "summary": "Get Vehicle Utilization",
        "tags": ["Vehicle Utilization"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleUtilization"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getVehicleUtilization",
        "description": "Get vehicle utilization days containing information about fuel consumption, distance traveled, and operational time metrics.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{vehicleId}/stats/historical": {
      "parameters": [
        {
          "name": "vehicleId",
          "schema": {
            "$ref": "#/components/schemas/VehicleId"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "x-mcp": "all",
        "summary": "Historical Vehicle Stats",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleStatLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHistoricalVehicleStats",
        "description": "List historical stats and logs about the vehicle.",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          },
          {
            "name": "types",
            "schema": {
              "type": "string",
              "example": "odometer,engine_state,fuel_level,total_fuel_consumption"
            },
            "in": "query",
            "description": "Comma separated list of vehicle stats to filter for",
            "required": false
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trips": {
      "get": {
        "x-mcp": "all",
        "summary": "List Historical Trips",
        "description": "List all historical trips in the connected account. Trips define a period of time where a vehicle is in motion.",
        "tags": ["Trips"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trip"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listTrips",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that started before a provided date."
          },
          {
            "name": "endedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that ended after a provided date."
          },
          {
            "name": "endedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that ended before a provided date."
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/devices": {
      "get": {
        "x-mcp": "all",
        "summary": "List Devices",
        "description": "List all devices in the connected account.",
        "tags": ["Devices"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events": {
      "get": {
        "x-mcp": "all",
        "summary": "List Safety Events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SafetyEvent"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listSafetyEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started before a provided date."
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "tags": ["Safety"],
        "description": "List all safety events detected by the provider."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events/{id}": {
      "get": {
        "x-mcp": "all",
        "summary": "Get Safety Event",
        "tags": ["Safety"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "getSafetyEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver", "vehicle", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "Get a safety event by id."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/SafetyEventId"
          },
          "in": "path",
          "required": true,
          "description": "The id of the safety event."
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events/{id}/camera-media": {
      "get": {
        "x-mcp": "all",
        "summary": "Get Event Camera Media",
        "tags": ["Safety"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CameraMedia"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "getEventCameraMedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "Get camera media for a given safety event."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/SafetyEventId"
          },
          "in": "path",
          "required": true,
          "description": "The id of the safety event."
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/groups": {
      "get": {
        "x-mcp": "all",
        "summary": "List Groups",
        "tags": ["Groups"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["parent"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trailers": {
      "get": {
        "x-mcp": "all",
        "summary": "List Trailers",
        "tags": ["Trailers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trailer"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listTrailers",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trailers/locations": {
      "get": {
        "x-mcp": "all",
        "summary": "Latest Trailer Locations",
        "tags": ["Trailers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LatestTrailerLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listLatestTrailerLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["trailer"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/ifta/summary": {
      "get": {
        "x-mcp": "all",
        "summary": "Get IFTA Summary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IFTASummary"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getIFTASummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "startMonth",
            "schema": {
              "$ref": "#/components/schemas/ISOMonth"
            },
            "in": "query",
            "description": "The month from which to start including vehicle reports",
            "required": true
          },
          {
            "name": "endMonth",
            "schema": {
              "$ref": "#/components/schemas/ISOMonth"
            },
            "in": "query",
            "description": "Include vehicle reports up to and including this month",
            "required": true
          },
          {
            "name": "groupBy",
            "schema": {
              "type": "string",
              "enum": [
                "jurisdiction",
                "vehicle",
                "vehicle,jurisdiction",
                "vehicle,jurisdiction,month"
              ],
              "default": "vehicle,jurisdiction"
            },
            "in": "query",
            "description": "Computes the total distance traversed within a specified month range, with the results grouped by either jurisdiction, vehicle, or both. If no grouping parameter is provided, the default grouping is `vehicle,jurisdiction`."
          }
        ],
        "tags": ["IFTA"],
        "description": "Get all vehicle IFTA reports for the requested time span.\n\nCurrently can only increment by full months. \n\n_Note:_ data may change for a few days after the month. We will continue to update those reports to ensure you get accurate results."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/connections": {
      "get": {
        "x-mcp": "all",
        "summary": "List All Connections",
        "tags": ["Connections"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listConnections",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "externalId",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "dotNumber",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "tag",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Filter connections by tag"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "description": "Filter connections that were last updated on or after a given time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "description": "Filter connections that were last updated on or before a given time."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ConnectionStatus"
            },
            "description": "Filter connections by status"
          },
          {
            "name": "provider",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ProviderCode"
            },
            "description": "Filter connections by provider"
          },
          {
            "name": "order",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "asc"
            },
            "description": "Sort order by id (which is monotonically increasing by creation time). `desc` returns the most recently created connections first."
          }
        ],
        "description": "List all of the connections you have for your application. Connections represent the authenticated access you have to your customer's TSP data."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/connections/current": {
      "get": {
        "x-mcp": "all",
        "summary": "Get Current Connection",
        "tags": ["Connections"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/FullConnection"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "lastSync": {
                              "$ref": "#/components/schemas/Sync"
                            },
                            "agreements": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Agreement"
                              }
                            }
                          },
                          "required": ["agreements"]
                        }
                      ]
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DeletedConnection"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "agreements": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Agreement"
                              }
                            }
                          },
                          "required": ["agreements"]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getCurrentConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "description": "Get the details of the current active connection. The current connection is derived from the provided connection token."
      },
      "parameters": [],
      "patch": {
        "summary": "Update Current Connection",
        "operationId": "updateCurrentConnection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "tags": ["Connections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "enum": ["connected", "archived", "disconnected"]
                  },
                  "options": {
                    "$ref": "#/components/schemas/ProviderOptions"
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Acme Inc.",
                        "description": "The name of the company."
                      },
                      "dotNumbers": {
                        "type": "array",
                        "description": "DOT numbers associated with the company.",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "syncMode": {
                    "$ref": "#/components/schemas/SyncMode"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Tags associated with the connection"
                    }
                  },
                  "filters": {
                    "$ref": "#/components/schemas/ConnectionFilters"
                  }
                }
              }
            }
          }
        },
        "description": "Update the details of the current active connection. The current connection is derived from the provided connection token."
      },
      "delete": {
        "operationId": "deleteCurrentConnection",
        "summary": "Delete Current Connection",
        "description": "Request permanent deletion of the current connection and its synced data. This endpoint updates the connection's status to `pending_deletion` and returns `202 Accepted`. Deletion will begin asynchronously after a grace period.",
        "tags": ["Connections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs": {
      "post": {
        "summary": "Request Sync",
        "operationId": "requestSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "tags": ["Data Management"],
        "description": "Manually request to sync the current connections data.\n\nBy default, Terminal will sync all connections where `syncMode = automatic` on a regular cadence. For customers that may not need a fleet's data to be kept up to date and want to reduce their active tracked trucks, you can set `syncMode = manual` and invoke this endpoint when you want to sync data.\n\nIf you're wondering if this is relevent to your use case then feel free to reach out and we'd be happy to assist.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "How to sync the data. If `startFrom` is not provided, it will either sync from the last time a sync was requested or `now` if the connection has no sync history. Can also provide `days` instead of `startFrom` and it will be converted to a date and used in place of `startFrom`.",
                "properties": {
                  "startFrom": {
                    "$ref": "#/components/schemas/ISODateTime",
                    "description": "When to start syncing from. If `startFrom` is not provided, it will either sync from the last time a sync was requested or `now` if the connection has no sync history."
                  },
                  "days": {
                    "type": "number",
                    "description": "How many days of history to sync from `now`. Will be converted to a date and used in place of `startFrom`"
                  },
                  "providerRequests": {
                    "type": "array",
                    "description": "Request additional information from the provider for this sync.",
                    "example": [
                      {
                        "type": "historical_files"
                      }
                    ],
                    "items": {
                      "$ref": "#/components/schemas/SyncProviderRequestType"
                    }
                  }
                },
                "example": {
                  "days": 7
                }
              }
            }
          },
          "description": ""
        }
      },
      "get": {
        "x-mcp": "all",
        "summary": "List Sync History",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sync"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listSyncHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/SyncStatus"
            },
            "in": "query"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["issues"]
            },
            "in": "query",
            "description": "Expand related resources in the response to reduce requests."
          }
        ],
        "tags": ["Data Management"],
        "description": "List a log of all batch sync jobs for the current connection."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}": {
      "get": {
        "x-mcp": "all",
        "summary": "Get Sync Job Status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getSyncJobStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["issues"]
            },
            "in": "query",
            "description": "Expand related resources in the response to reduce requests."
          }
        ],
        "tags": ["Data Management"],
        "description": "Get the status of a sync job by ID."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/SyncId"
          },
          "in": "path",
          "required": true
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}/retry": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/SyncId"
          },
          "in": "path",
          "required": true,
          "description": "The ID of the sync job to retry"
        }
      ],
      "post": {
        "summary": "Retry Sync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/SyncId"
                    },
                    "message": {
                      "type": "string",
                      "example": "Sync retry requested"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "retrySync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "tags": ["Data Management"],
        "description": "Retry a failed sync job with the same parameters. This is useful for retrying syncs that failed due to temporary issues."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "$ref": "#/components/schemas/SyncId"
          },
          "in": "path",
          "required": true,
          "description": "The ID of the sync job to retry"
        }
      ],
      "post": {
        "summary": "Cancel Sync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/SyncId"
                    },
                    "message": {
                      "type": "string",
                      "example": "Sync cancellation requested"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "cancelSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "tags": ["Data Management"],
        "description": "Cancel a sync job mid-way through. This is useful for cancelling syncs that are no longer needed. Cancelled syncs will be marked as failed and can be retried."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/passthrough": {
      "post": {
        "x-mcp": "admin",
        "x-mcp-annotations": {
          "readOnlyHint": false,
          "destructiveHint": true,
          "idempotentHint": false,
          "openWorldHint": true
        },
        "x-mcp-guidance": "APPROVAL REQUIRED: this tool sends an arbitrary request to the customer's telematics provider using their credentials. Any method, including GET, can trigger provider-side effects, rate limits, or billing. Before every call, show the user the exact method, path, headers, and body you intend to send and wait for their explicit approval. Never call this tool autonomously, in a loop, or as part of a batched task without per-request approval.",
        "summary": "Passthrough",
        "operationId": "passthrough",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassthroughOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Make an authenticated request to the underlying telematics provider. \n\nThis endpoint helps ensure that you are never limited by Terminal. You can use passthrough requests to access capabilities that may be limited to a specific TSP or not yet in the normalized model.\n\nOur team is here and ready to support custom use cases that may need `/passthrough`.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassthroughInput"
              }
            }
          }
        },
        "tags": ["Data Management"]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/passthrough/raw": {
      "post": {
        "summary": "Raw Passthrough",
        "operationId": "passthroughRaw",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "200": {
            "description": "A successful provider response body, forwarded directly without the Terminal `PassthroughOutput` JSON envelope. The `Content-Type` reflects the provider's response (for example `image/jpeg` or `application/pdf`), not necessarily `application/octet-stream`.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary",
                  "description": "Raw response bytes from the provider. The body is not a JSON object and is not base64 encoded for HTTP clients. This endpoint may also return HTTP 200 with a `PassthroughOutput` JSON envelope (see the endpoint description) when the provider itself responds with an error status."
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ProviderProvisioningPendingError"
          },
          "410": {
            "$ref": "#/components/responses/GoneError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Make an authenticated request to the underlying telematics provider and forward successful provider response bodies directly.\n\nUse Raw Passthrough for provider endpoints that download inspection photos, documents, videos, or other non-JSON files.\n\nResponse rules:\n- **Provider success (2xx):** the provider body is returned as raw bytes with the provider's `Content-Type` and status.\n- **Provider error (non-2xx):** the response is HTTP `200` with a `PassthroughOutput` JSON envelope (`statusCode`, `headers`, `response`), matching `/passthrough`. Unsuccessful provider responses are therefore not surfaced as Terminal API errors; check the envelope's `statusCode` for the provider status.\n- **Terminal error:** requests that fail before or around the provider call return a standard Terminal error status and JSON body.\n\nFor normal JSON API calls where you want Terminal to parse and wrap successful provider responses too, use `/passthrough` instead.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassthroughInput"
              },
              "examples": {
                "downloadMediaFile": {
                  "summary": "Download a media file",
                  "value": {
                    "method": "POST",
                    "path": "/media/files/download",
                    "body": "{\"fileId\":\"file_123\"}"
                  }
                }
              }
            }
          }
        },
        "tags": ["Data Management"]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/providers": {
      "get": {
        "x-mcp": "all",
        "summary": "List Providers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listProviders",
        "parameters": [
          {
            "$ref": "#/components/parameters/XApplicationId"
          }
        ],
        "description": "Retrieve a list of the providers Terminal supports. This endpoint will grow to include additional details about the supported capabilities of each provider.",
        "tags": ["Providers"]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/issues": {
      "get": {
        "x-mcp": "all",
        "summary": "List Issues",
        "tags": ["Issues"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
[...]
