{
  "openapi": "3.1.0",
  "info": {
    "title": "Terminal Telematics API",
    "description": "Terminal is a unified API that makes it easy to integrate with the leading telematics service providers.",
    "version": "0.0",
    "contact": {
      "name": "Terminal",
      "email": "connect@withterminal.com",
      "url": "https://www.withterminal.com"
    }
  },
  "servers": [
    {
      "url": "https://api.withterminal.com/tsp/v1",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.withterminal.com/tsp/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/public-token/exchange": {
      "post": {
        "summary": "Public Token Exchange",
        "operationId": "publicTokenExchange",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Exchange the `publicToken` returned by our hosted authentication flow for a long lived connection token that will be used when requesting data from a customer's TSP.",
        "tags": ["Authentication"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publicToken": {
                    "$ref": "#/components/schemas/PublicToken"
                  }
                },
                "required": ["publicToken"]
              }
            }
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles": {
      "get": {
        "summary": "List Vehicles",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Vehicle"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listVehicles",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Hidden"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups", "devices", "devices,groups", "groups,devices"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "List all of the vehicles in the connected account"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Vehicle",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Vehicle"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getVehicle",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "Get the details of a specific vehicle"
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/drivers": {
      "get": {
        "summary": "List Drivers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Driver"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listDrivers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Hidden"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "tags": ["Drivers"],
        "description": "List all of the drivers in the connected account"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/drivers/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Driver",
        "tags": ["Drivers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Driver"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getDriver",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "Get the details of a specific driver"
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/available-time": {
      "get": {
        "summary": "Available Time for Drivers",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSAvailableTime"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSAvailableTime",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List available time for the driver. This endpoint provides live access to the driver's available time. Different than most endpoints, this endpoint calls the provider's API in real time to get the latest available time for the driver. This endpoint is useful for building real time applications that need to know the driver's available time."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/logs": {
      "get": {
        "summary": "List HOS Logs",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started before a provided date."
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": [
                "driver",
                "vehicle",
                "codrivers",
                "driver,vehicle",
                "driver,codrivers",
                "vehicle,driver",
                "vehicle,codrivers",
                "codrivers,driver",
                "codrivers,vehicle",
                "driver,vehicle,codrivers",
                "driver,codrivers,vehicle",
                "vehicle,driver,codrivers",
                "vehicle,codrivers,driver",
                "codrivers,driver,vehicle",
                "codrivers,vehicle,driver"
              ]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List all hours of service logs. HOS logs are tracked as the distinct changes in duty status."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/hos/daily-logs": {
      "get": {
        "summary": "List HOS Daily Logs",
        "tags": ["Hours of Service"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/HOSDailyLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHOSDailyLogs",
        "description": "List daily summary of hours of service. Each daily log represents the time a driver spent in each duty status for a given day.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/locations": {
      "get": {
        "summary": "Latest Vehicle Locations",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LatestVehicleLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listLatestVehicleLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "vehicle,driver", "driver,vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "List the latest location of the vehicles in the connected account.\nThis endpoint will call the provider's API in real time to get the latest location of the vehicle. \n_Please note: this endpoint will exclude vehicles that have no last known location._"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{vehicleId}/locations": {
      "get": {
        "summary": "Historical Vehicle Locations",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "listHistoricalVehicleLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "List the historical breadcrumb locations for a vehicle.\n\n_Note:_\n\nGiven the large volume of location data available, we encourage customers to accept compressed (`gzip`) responses in order to maximize throughput. This is supported with many popular HTTP clients. Result limits vary depending on if results are compressed or not."
      },
      "parameters": [
        {
          "name": "vehicleId",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "description": "Vehicle to retrieve breadcrumb locations for"
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/utilization": {
      "get": {
        "summary": "Get Vehicle Utilization",
        "tags": ["Vehicle Utilization"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleUtilization"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getVehicleUtilization",
        "description": "Get vehicle utilization days containing information about fuel consumption, distance traveled, and operational time metrics.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/StartDate"
          },
          {
            "$ref": "#/components/parameters/EndDate"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{vehicleId}/stats/historical": {
      "parameters": [
        {
          "name": "vehicleId",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Historical Vehicle Stats",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/VehicleStatLog"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listHistoricalVehicleStats",
        "description": "List historical stats and logs about the vehicle.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/StartAt"
          },
          {
            "$ref": "#/components/parameters/EndAt"
          },
          {
            "name": "types",
            "schema": {
              "type": "string",
              "example": "odometer,engine_state,fuel_level,total_fuel_consumption"
            },
            "in": "query",
            "description": "Comma separated list of vehicle stats to filter for",
            "required": false
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trips": {
      "get": {
        "summary": "List Historical Trips",
        "description": "List all historical trips in the connected account. Trips define a period of time where a vehicle is in motion.",
        "tags": ["Trips"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trip"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listTrips",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that started before a provided date."
          },
          {
            "name": "endedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that ended after a provided date."
          },
          {
            "name": "endedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include trips that ended before a provided date."
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/devices": {
      "get": {
        "summary": "List Devices",
        "description": "List all devices in the connected account.",
        "tags": ["Devices"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Device"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listDevices",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "expand",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "description": "Expand resources in the returned response"
          }
        ]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events": {
      "get": {
        "summary": "List Safety Events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SafetyEvent"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listSafetyEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "name": "startedAfter",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started after a provided date."
          },
          {
            "name": "startedBefore",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include records of statuses that started before a provided date."
          },
          {
            "$ref": "#/components/parameters/DriverIds"
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle", "driver", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "tags": ["Safety"],
        "description": "List all safety events detected by the provider."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events/{id}": {
      "get": {
        "summary": "Get Safety Event",
        "tags": ["Safety"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SafetyEvent"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "getSafetyEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["driver", "vehicle", "driver,vehicle", "vehicle,driver"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "Get a safety event by id."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "description": "The id of the safety event."
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/safety/events/{id}/camera-media": {
      "get": {
        "summary": "Get Event Camera Media",
        "tags": ["Safety"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CameraMedia"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "operationId": "getEventCameraMedia",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "description": "Get camera media for a given safety event."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "description": "The id of the safety event."
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/groups": {
      "get": {
        "summary": "List Groups",
        "tags": ["Groups"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["parent"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trailers": {
      "get": {
        "summary": "List Trailers",
        "tags": ["Trailers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Trailer"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listTrailers",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/trailers/locations": {
      "get": {
        "summary": "Latest Trailer Locations",
        "tags": ["Trailers"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LatestTrailerLocation"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listLatestTrailerLocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["trailer"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ]
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/ifta/summary": {
      "get": {
        "summary": "Get IFTA Summary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IFTASummary"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getIFTASummary",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Raw"
          },
          {
            "name": "startMonth",
            "schema": {
              "$ref": "#/components/schemas/ISOMonth"
            },
            "in": "query",
            "description": "The month from which to start including vehicle reports",
            "required": true
          },
          {
            "name": "endMonth",
            "schema": {
              "$ref": "#/components/schemas/ISOMonth"
            },
            "in": "query",
            "description": "Include vehicle reports up to and including this month",
            "required": true
          },
          {
            "name": "groupBy",
            "schema": {
              "type": "string",
              "enum": [
                "jurisdiction",
                "vehicle",
                "vehicle,jurisdiction",
                "vehicle,jurisdiction,month"
              ],
              "default": "vehicle,jurisdiction"
            },
            "in": "query",
            "description": "Computes the total distance traversed within a specified month range, with the results grouped by either jurisdiction, vehicle, or both. If no grouping parameter is provided, the default grouping is `vehicle,jurisdiction`."
          }
        ],
        "tags": ["IFTA"],
        "description": "Get all vehicle IFTA reports for the requested time span.\n\nCurrently can only increment by full months. \n\n_Note:_ data may change for a few days after the month. We will continue to update those reports to ensure you get accurate results."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/connections": {
      "get": {
        "summary": "List All Connections",
        "tags": ["Connections"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Connection"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listConnections",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "externalId",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "dotNumber",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "tag",
            "schema": {
              "type": "string"
            },
            "in": "query",
            "description": "Filter connections by tag"
          },
          {
            "name": "updatedAfter",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "description": "Filter connections that were last updated on or after a given time."
          },
          {
            "name": "updatedBefore",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "description": "Filter connections that were last updated on or before a given time."
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/ConnectionStatus"
            },
            "description": "Filter connections by status"
          }
        ],
        "description": "List all of the connections you have for your application. Connections represent the authenticated access you have to your customer's TSP data."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/connections/current": {
      "get": {
        "summary": "Get Current Connection",
        "tags": ["Connections"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "The connection your application has with your customer's TSP.",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/ConnectionId"
                    },
                    "status": {
                      "$ref": "#/components/schemas/ConnectionStatus"
                    },
                    "sourceId": {
                      "$ref": "#/components/schemas/SourceId",
                      "description": "The ID used in the source system to represent the account this connection has access to.\n\nThis may be an `organizationId` or `accountId`.\n\nNote: not all systems expose this information, in which case it may be undefined."
                    },
                    "provider": {
                      "type": "object",
                      "required": ["code", "name"],
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Geotab",
                          "description": "The name of the Telematics Service Provider."
                        },
                        "code": {
                          "$ref": "#/components/schemas/ProviderCode"
                        }
                      }
                    },
                    "company": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Acme Inc.",
                          "description": "The name of the company."
                        },
                        "dotNumbers": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "example": "1234567",
                            "description": "The DOT number of the company."
                          }
                        }
                      }
                    },
                    "account": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Frank's Trucking",
                          "description": "The name of the account according to the provider."
                        },
                        "dotNumbers": {
                          "type": "array",
                          "description": "DOT numbers associated with the account according to the provider.",
                          "items": {
                            "type": "string",
                            "example": "1234567"
                          }
                        },
                        "user": {
                          "type": "object",
                          "description": "The user of the provider account that created the connection.",
                          "properties": {
                            "sourceId": {
                              "type": "string",
                              "description": "The ID of the user in the provider's system.",
                              "example": "1234567"
                            },
                            "firstName": {
                              "type": "string",
                              "example": "John"
                            },
                            "lastName": {
                              "type": "string",
                              "example": "Doe"
                            },
                            "email": {
                              "type": "string",
                              "example": "john.doe@example.com"
                            }
                          }
                        }
                      }
                    },
                    "token": {
                      "type": "string",
                      "example": "T9klMDQrcHdm9jrtHuOS2Nf06BIHwMNjpPXPMB",
                      "description": "This token is used when interacting with a connections' data."
                    },
                    "externalId": {
                      "type": "string",
                      "example": "1234",
                      "description": "An optional ID from your system that can be used to reference connections."
                    },
                    "tags": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "syncMode": {
                      "$ref": "#/components/schemas/SyncMode"
                    },
                    "linkUrl": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://link.withterminal.com/connection/{CONNECTION_ID}?key={PUBLISHABLE_KEY}",
                      "description": "The URL to send your user to in order to have them re-authenticate the connection."
                    },
                    "lastSync": {
                      "$ref": "#/components/schemas/Sync"
                    },
                    "agreements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Agreement"
                      }
                    },
                    "filters": {
                      "$ref": "#/components/schemas/ConnectionFilters"
                    },
                    "options": {
                      "$ref": "#/components/schemas/ProviderOptions"
                    },
                    "createdAt": {
                      "$ref": "#/components/schemas/ISODateTime"
                    },
                    "updatedAt": {
                      "$ref": "#/components/schemas/ISODateTime"
                    }
                  },
                  "required": [
                    "id",
                    "company",
                    "account",
                    "token",
                    "status",
                    "provider",
                    "syncMode",
                    "createdAt",
                    "updatedAt",
                    "agreements",
                    "linkUrl"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getCurrentConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "description": "Get the details of the current active connection. The current connection is derived from the provided connection token."
      },
      "parameters": [],
      "patch": {
        "summary": "Update Current Connection",
        "operationId": "updateCurrentConnection",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "tags": ["Connections"],
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "enum": ["connected", "archived", "disconnected"]
                  },
                  "options": {
                    "$ref": "#/components/schemas/ProviderOptions"
                  },
                  "company": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "example": "Acme Inc.",
                        "description": "The name of the company."
                      },
                      "dotNumbers": {
                        "type": "array",
                        "description": "DOT numbers associated with the company.",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "externalId": {
                    "type": "string"
                  },
                  "syncMode": {
                    "$ref": "#/components/schemas/SyncMode"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "Tags associated with the connection"
                    }
                  },
                  "filters": {
                    "$ref": "#/components/schemas/ConnectionFilters"
                  }
                }
              }
            }
          }
        },
        "description": "Update the details of the current active connection. The current connection is derived from the provided connection token."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs": {
      "post": {
        "summary": "Request Sync",
        "operationId": "requestSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "tags": ["Data Management"],
        "description": "Manually request to sync the current connections data.\n\nBy default, Terminal will sync all connections where `syncMode = automatic` on a regular cadence. For customers that may not need a fleet's data to be kept up to date and want to reduce their active tracked trucks, you can set `syncMode = manual` and invoke this endpoint when you want to sync data.\n\nIf you're wondering if this is relevent to your use case then feel free to reach out and we'd be happy to assist.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "How to sync the data. If `startFrom` is not provided, it will either sync from the last time a sync was requested or `now` if the connection has no sync history. Can also provide `days` instead of `startFrom` and it will be converted to a date and used in place of `startFrom`.",
                "properties": {
                  "startFrom": {
                    "$ref": "#/components/schemas/ISODateTime",
                    "description": "When to start syncing from. If `startFrom` is not provided, it will either sync from the last time a sync was requested or `now` if the connection has no sync history."
                  },
                  "days": {
                    "type": "number",
                    "description": "How many days of history to sync from `now`. Will be converted to a date and used in place of `startFrom`"
                  },
                  "providerRequests": {
                    "type": "array",
                    "description": "Request additional information from the provider for this sync.",
                    "example": [
                      {
                        "type": "historical_files"
                      }
                    ],
                    "items": {
                      "$ref": "#/components/schemas/SyncProviderRequestType"
                    }
                  }
                },
                "example": {
                  "days": 7
                }
              }
            }
          },
          "description": ""
        }
      },
      "get": {
        "summary": "List Sync History",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Sync"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listSyncHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "schema": {
              "$ref": "#/components/schemas/SyncStatus"
            },
            "in": "query"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["issues"]
            },
            "in": "query",
            "description": "Expand related resources in the response to reduce requests."
          }
        ],
        "tags": ["Data Management"],
        "description": "List a log of all batch sync jobs for the current connection."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}": {
      "get": {
        "summary": "Get Sync Job Status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Sync"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "getSyncJobStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["issues"]
            },
            "in": "query",
            "description": "Expand related resources in the response to reduce requests."
          }
        ],
        "tags": ["Data Management"],
        "description": "Get the status of a sync job by ID."
      },
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}/retry": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "description": "The ID of the sync job to retry"
        }
      ],
      "post": {
        "summary": "Retry Sync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/SyncId"
                    },
                    "message": {
                      "type": "string",
                      "example": "Sync retry requested"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "retrySync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "tags": ["Data Management"],
        "description": "Retry a failed sync job with the same parameters. This is useful for retrying syncs that failed due to temporary issues."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/syncs/{id}/cancel": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true,
          "description": "The ID of the sync job to retry"
        }
      ],
      "post": {
        "summary": "Cancel Sync",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/SyncId"
                    },
                    "message": {
                      "type": "string",
                      "example": "Sync cancellation requested"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "cancelSync",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "tags": ["Data Management"],
        "description": "Cancel a sync job mid-way through. This is useful for cancelling syncs that are no longer needed. Cancelled syncs will be marked as failed and can be retried."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/passthrough": {
      "post": {
        "summary": "Passthrough",
        "operationId": "passthrough",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassthroughOutput"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplementedError"
          },
          "502": {
            "$ref": "#/components/responses/BadGatewayError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "description": "Make an authenticated request to the underlying telematics provider. \n\nThis endpoint helps ensure that you are never limited by Terminal. You can use passthrough requests to access capabilities that may be limited to a specific TSP or not yet in the normalized model.\n\nOur team is here and ready to support custom use cases that may need `/passthrough`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PassthroughInput"
              }
            }
          }
        },
        "tags": ["Data Management"]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/providers": {
      "get": {
        "summary": "List Providers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Provider"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listProviders",
        "parameters": [],
        "description": "Retrieve a list of the providers Terminal supports. This endpoint will grow to include additional details about the supported capabilities of each provider.",
        "tags": ["Providers"]
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/issues": {
      "get": {
        "summary": "List Issues",
        "tags": ["Issues"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Issue"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listIssues",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "lastReportedAfter",
            "schema": {
              "type": "string",
              "$ref": "#/components/schemas/ISODateTime",
              "format": "date"
            },
            "in": "query",
            "description": "Timestamp to start when the issue was last observed"
          },
          {
            "name": "lastReportedBefore",
            "schema": {
              "type": "string",
              "$ref": "#/components/schemas/ISODateTime",
              "format": "date"
            },
            "in": "query",
            "description": "Timestamp to end when the issue was last observed"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["connection"]
            },
            "in": "query",
            "description": "Expand related resources to see all details"
          },
          {
            "name": "connectionId",
            "schema": {
              "$ref": "#/components/schemas/ConnectionId"
            },
            "in": "query",
            "description": "Filter issues to a specific connection"
          },
          {
            "name": "errorCode",
            "schema": {
              "$ref": "#/components/schemas/IssueCode"
            },
            "in": "query",
            "description": "Filter issues to a specific error code"
          },
          {
            "name": "status",
            "schema": {
              "type": "string",
              "enum": ["ongoing", "resolved"]
            },
            "in": "query",
            "description": "Filter issues to a specific status"
          }
        ],
        "description": "List all issues that have been observed by Terminal.\nIssues are generated when we observe something that may impact the completeness or accuracy of the data we provide but do not justify a full error.\nFor example, if we lack permissions for a specific resource or need to skip an item due to invalid data."
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/issues/{issueId}/resolve": {
      "parameters": [
        {
          "name": "issueId",
          "schema": {
            "type": "string"
          },
          "in": "path",
          "required": true
        }
      ],
      "post": {
        "summary": "Resolve Issue",
        "description": "Mark an issue's status as `resolved` until the issue is observed again.",
        "tags": ["Issues"],
        "operationId": "resolveIssue",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Issue"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "parameters": []
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/fault-codes/events": {
      "get": {
        "summary": "List Fault Code Events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FaultCodeEvent"
                      }
                    },
                    "next": {
                      "$ref": "#/components/schemas/PaginationCursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequestsError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "504": {
            "$ref": "#/components/responses/GatewayTimeoutError"
          }
        },
        "operationId": "listFaultCodeEvents",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConnectionToken"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/ModifiedAfter"
          },
          {
            "$ref": "#/components/parameters/ModifiedBefore"
          },
          {
            "name": "startAt",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include fault code events after a provided date."
          },
          {
            "name": "endAt",
            "schema": {
              "$ref": "#/components/schemas/ISODateTime"
            },
            "in": "query",
            "description": "Only include fault code events before a provided date."
          },
          {
            "$ref": "#/components/parameters/VehicleIds"
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["vehicle"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          },
          {
            "$ref": "#/components/parameters/Raw"
          }
        ],
        "tags": ["Fault Codes"],
        "description": "List all fault code events detected by the provider."
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    }
  },
  "components": {
    "schemas": {
      "ProviderCredentials": {
        "type": "object",
        "discriminator": {
          "propertyName": "provider"
        },
        "oneOf": [
          {
            "type": "object",
            "title": "3PL TEK",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["3pl-tek"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "ABC ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["abc-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "Action ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["action-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "ADA ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["ada-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "Advantage Knights ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["advantage-knights-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "Advantage One",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["advantage-one"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  },
                  "database": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Database"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "AI ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["ai-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "clientId": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Client ID"
                  },
                  "clientSecret": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Client Secret"
                  }
                },
                "required": ["clientId", "clientSecret"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "AirELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["aireld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Username"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Password"
                  }
                },
                "required": ["username", "password"]
              }
            },
            "required": ["provider", "credentials"]
          },
          {
            "type": "object",
            "title": "Alfa ELD",
            "properties": {
              "provider": {
                "type": "string",
                "enum": ["alfa-eld"]
              },
              "credentials": {
                "type": "object",
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Email"
[...]
