{
  "openapi": "3.1.0",
  "info": {
    "title": "Terminal Telematics API",
    "description": "Terminal is a unified API that makes it easy to integrate with the leading telematics service providers.",
    "version": "0.0",
    "contact": {
      "name": "Terminal",
      "email": "connect@withterminal.com",
      "url": "https://www.withterminal.com"
    }
  },
  "servers": [
    {
      "url": "https://api.withterminal.com/tsp/v1",
      "description": "Production"
    },
    {
      "url": "https://api.sandbox.withterminal.com/tsp/v1",
      "description": "Sandbox"
    }
  ],
  "paths": {
    "/public-token/exchange": {
      "post": {
        "summary": "Public Token Exchange",
        "operationId": "publicTokenExchange",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Connection",
                  "x-model-category": "platform",
                  "oneOf": [
                    {
                      "title": "Full Connection",
                      "description": "The connection your application has with your customer's TSP.",
                      "allOf": [
                        {
                          "type": "object",
                          "title": "Connection Base",
                          "description": "Fields shared by all connection records.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "title": "ConnectionId",
                              "format": "ulid",
                              "example": "conn_01GV12VR4DJP70GD1ZBK0SDWFH"
                            },
                            "sourceId": {
                              "type": "string",
                              "description": "The ID used in the source system to represent the account this connection has or had access to.\n\nThis may be an `organizationId` or `accountId`.\n\nNote: not all systems expose this information, in which case it may be undefined.",
                              "title": "SourceId",
                              "example": "123456789"
                            },
                            "provider": {
                              "type": "object",
                              "required": ["code", "name"],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Geotab",
                                  "description": "The name of the Telematics Service Provider."
                                },
                                "code": {
                                  "type": "string",
                                  "title": "Provider Code",
                                  "example": "geotab",
                                  "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                                }
                              }
                            },
                            "company": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Frank's Trucking",
                                  "description": "Optional name of the connection."
                                },
                                "dotNumbers": {
                                  "type": "array",
                                  "description": "Optional DOT numbers associated with this connection.",
                                  "items": {
                                    "type": "string",
                                    "example": "1234567"
                                  }
                                }
                              }
                            },
                            "account": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Frank's Trucking",
                                  "description": "The name of the account according to the provider."
                                },
                                "dotNumbers": {
                                  "type": "array",
                                  "description": "DOT numbers associated with the account according to the provider.",
                                  "items": {
                                    "type": "string",
                                    "example": "1234567"
                                  }
                                },
                                "user": {
                                  "type": "object",
                                  "description": "The user of the provider account that created the connection.",
                                  "properties": {
                                    "sourceId": {
                                      "type": "string",
                                      "description": "The ID of the user in the provider's system.",
                                      "example": "1234567"
                                    },
                                    "firstName": {
                                      "type": "string",
                                      "example": "John"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "example": "Doe"
                                    },
                                    "email": {
                                      "type": "string",
                                      "example": "john.doe@example.com"
                                    }
                                  }
                                }
                              }
                            },
                            "externalId": {
                              "type": "string",
                              "example": "1234",
                              "description": "An optional ID from your system that can be used to reference connections."
                            },
                            "syncMode": {
                              "type": "string",
                              "title": "SyncMode",
                              "enum": ["automatic", "manual"],
                              "description": "Enum values:\n- `automatic`: Terminal will keep this connections data up to date\n- `manual`: Terminal will only sync data upon request",
                              "default": "automatic"
                            },
                            "token": {
                              "type": "string",
                              "example": "con_tkn_22vUhkC6tgre4kwaYfUkCDA1rzn6eyb4",
                              "pattern": "^con_tkn_\\S+$",
                              "description": "This token is used when interacting with a connections' data."
                            },
                            "tags": {
                              "type": "array",
                              "description": "An optional list of tags from your system that can be used to reference connections.",
                              "items": {
                                "type": "string",
                                "example": "Tag Name"
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "title": "ISODateTime",
                              "format": "date-time",
                              "example": "2021-01-06T03:24:53.000Z",
                              "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "title": "ISODateTime",
                              "format": "date-time",
                              "example": "2021-01-06T03:24:53.000Z",
                              "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                            }
                          },
                          "required": [
                            "id",
                            "company",
                            "account",
                            "provider",
                            "syncMode",
                            "token",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": ["connected", "disconnected", "archived", "pending_deletion"],
                              "description": "The current status of the connection."
                            },
                            "options": {
                              "type": "object",
                              "additionalProperties": true
                            },
                            "filters": {
                              "type": "object",
                              "properties": {
                                "vehicles": {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "enum": ["active", "inactive"],
                                      "description": "Filter connection to only include data related to vehicles with a specified status"
                                    },
                                    "excludeIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "title": "VehicleId",
                                        "description": "Unique identifier for the vehicle in Terminal.",
                                        "format": "ulid",
                                        "pattern": "^vcl_[0-9A-HJKMNP-TV-Z]{26}$",
                                        "example": "vcl_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                      },
                                      "description": "IDs of vehicles to exclude from data ingestion"
                                    },
                                    "includeIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "title": "VehicleId",
                                        "description": "Unique identifier for the vehicle in Terminal.",
                                        "format": "ulid",
                                        "pattern": "^vcl_[0-9A-HJKMNP-TV-Z]{26}$",
                                        "example": "vcl_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                      },
                                      "description": "IDs of vehicles to include in data ingestion (takes priority over other filters)"
                                    }
                                  }
                                },
                                "drivers": {
                                  "type": "object",
                                  "properties": {
                                    "status": {
                                      "type": "string",
                                      "enum": ["active", "inactive"],
                                      "description": "Filter connection to only include data related to drivers with a specified status"
                                    },
                                    "excludeIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "title": "DriverId",
                                        "description": "Unique identifier for the driver in Terminal.",
                                        "format": "ulid",
                                        "pattern": "^drv_[0-9A-HJKMNP-TV-Z]{26}$",
                                        "example": "drv_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                      },
                                      "description": "IDs of drivers to exclude from data ingestion"
                                    },
                                    "includeIds": {
                                      "type": "array",
                                      "items": {
                                        "type": "string",
                                        "title": "DriverId",
                                        "description": "Unique identifier for the driver in Terminal.",
                                        "format": "ulid",
                                        "pattern": "^drv_[0-9A-HJKMNP-TV-Z]{26}$",
                                        "example": "drv_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                      },
                                      "description": "IDs of drivers to include in data ingestion (takes priority over other filters)"
                                    }
                                  }
                                }
                              },
                              "description": "Filters applied to connection data"
                            },
                            "linkUrl": {
                              "type": "string",
                              "format": "uri",
                              "example": "https://link.withterminal.com/connection/{CONNECTION_ID}?key={PUBLISHABLE_KEY}",
                              "description": "The URL to send your user to in order to have them re-authenticate the connection."
                            }
                          },
                          "required": ["status", "options", "linkUrl"]
                        }
                      ]
                    },
                    {
                      "title": "Deleted Connection",
                      "description": "A retained connection record after connection-scoped data has been deleted.",
                      "allOf": [
                        {
                          "type": "object",
                          "title": "Connection Base",
                          "description": "Fields shared by all connection records.",
                          "properties": {
                            "id": {
                              "type": "string",
                              "title": "ConnectionId",
                              "format": "ulid",
                              "example": "conn_01GV12VR4DJP70GD1ZBK0SDWFH"
                            },
                            "sourceId": {
                              "type": "string",
                              "description": "The ID used in the source system to represent the account this connection has or had access to.\n\nThis may be an `organizationId` or `accountId`.\n\nNote: not all systems expose this information, in which case it may be undefined.",
                              "title": "SourceId",
                              "example": "123456789"
                            },
                            "provider": {
                              "type": "object",
                              "required": ["code", "name"],
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Geotab",
                                  "description": "The name of the Telematics Service Provider."
                                },
                                "code": {
                                  "type": "string",
                                  "title": "Provider Code",
                                  "example": "geotab",
                                  "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                                }
                              }
                            },
                            "company": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Frank's Trucking",
                                  "description": "Optional name of the connection."
                                },
                                "dotNumbers": {
                                  "type": "array",
                                  "description": "Optional DOT numbers associated with this connection.",
                                  "items": {
                                    "type": "string",
                                    "example": "1234567"
                                  }
                                }
                              }
                            },
                            "account": {
                              "type": "object",
                              "properties": {
                                "name": {
                                  "type": "string",
                                  "example": "Frank's Trucking",
                                  "description": "The name of the account according to the provider."
                                },
                                "dotNumbers": {
                                  "type": "array",
                                  "description": "DOT numbers associated with the account according to the provider.",
                                  "items": {
                                    "type": "string",
                                    "example": "1234567"
                                  }
                                },
                                "user": {
                                  "type": "object",
                                  "description": "The user of the provider account that created the connection.",
                                  "properties": {
                                    "sourceId": {
                                      "type": "string",
                                      "description": "The ID of the user in the provider's system.",
                                      "example": "1234567"
                                    },
                                    "firstName": {
                                      "type": "string",
                                      "example": "John"
                                    },
                                    "lastName": {
                                      "type": "string",
                                      "example": "Doe"
                                    },
                                    "email": {
                                      "type": "string",
                                      "example": "john.doe@example.com"
                                    }
                                  }
                                }
                              }
                            },
                            "externalId": {
                              "type": "string",
                              "example": "1234",
                              "description": "An optional ID from your system that can be used to reference connections."
                            },
                            "syncMode": {
                              "type": "string",
                              "title": "SyncMode",
                              "enum": ["automatic", "manual"],
                              "description": "Enum values:\n- `automatic`: Terminal will keep this connections data up to date\n- `manual`: Terminal will only sync data upon request",
                              "default": "automatic"
                            },
                            "token": {
                              "type": "string",
                              "example": "con_tkn_22vUhkC6tgre4kwaYfUkCDA1rzn6eyb4",
                              "pattern": "^con_tkn_\\S+$",
                              "description": "This token is used when interacting with a connections' data."
                            },
                            "tags": {
                              "type": "array",
                              "description": "An optional list of tags from your system that can be used to reference connections.",
                              "items": {
                                "type": "string",
                                "example": "Tag Name"
                              }
                            },
                            "createdAt": {
                              "type": "string",
                              "title": "ISODateTime",
                              "format": "date-time",
                              "example": "2021-01-06T03:24:53.000Z",
                              "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                            },
                            "updatedAt": {
                              "type": "string",
                              "title": "ISODateTime",
                              "format": "date-time",
                              "example": "2021-01-06T03:24:53.000Z",
                              "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                            }
                          },
                          "required": [
                            "id",
                            "company",
                            "account",
                            "provider",
                            "syncMode",
                            "token",
                            "createdAt",
                            "updatedAt"
                          ]
                        },
                        {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": ["deleting", "deleted"]
                            }
                          },
                          "required": ["status"]
                        }
                      ]
                    }
                  ],
                  "x-description": "The connection your application has with your customer's TSP."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["bad_request"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request body"
                    },
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "ErrorPathDetail",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "'vehicleId' property must be a valid ulid"
                          },
                          "path": {
                            "type": "string",
                            "example": "{requestQuery}.vehicleId"
                          },
                          "suggestion": {
                            "type": "string",
                            "example": "Please ensure you submit a valid 'vehicleId' property"
                          },
                          "context": {
                            "type": "object"
                          }
                        },
                        "required": ["message", "path"]
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure you have a valid API key"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["forbidden"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure the connection token matches the resource you are attempting to access."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["not_found"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Could not find resource with ID: 2342342"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "code": {
                      "enum": ["too_many_requests"]
                    },
                    "retryAfter": {
                      "type": "integer",
                      "description": "The number of seconds to wait before retrying the request",
                      "example": 60
                    },
                    "message": {
                      "type": "string",
                      "example": "Too Many Requests"
                    },
                    "detail": {
                      "type": "string",
                      "example": "You have exceeded your rate limit. Please try again later."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Something went wrong"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["gateway_timeout"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Gateway Timeout"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        },
        "description": "Exchange the `publicToken` returned by our hosted authentication flow for a long lived connection token that will be used when requesting data from a customer's TSP.",
        "tags": ["Authentication"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "publicToken": {
                    "type": "string",
                    "title": "Public Token",
                    "example": "pub_tkn_9jNzH26e5b9RgErDnRt8zfm5emDUUyyG",
                    "description": "Token returned by the authentication flow. Public tokens are one time use and expire after they are exchanged for a long-lived connection token.",
                    "pattern": "^pub_tkn_\\S+$"
                  }
                },
                "required": ["publicToken"]
              }
            }
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/link/short": {
      "post": {
        "summary": "Create Short Link URL",
        "operationId": "createShortLink",
        "description": "Create a short URL for the Link onboarding flow as an alternative to the full Link URL with all its query parameters.\n\nThe response contains an 8-character `code` and the full `url` to share with your user. Short links are valid for 1 year from creation.\n\nIdentical request bodies are de-duplicated automatically. Calling this endpoint a second time with the same parameters returns the original short link with an `Idempotent-Replayed: true` response header.",
        "tags": ["Link"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "An optional human-readable name to associate with the resulting connection."
                  },
                  "provider": {
                    "type": "string",
                    "title": "Provider Code",
                    "example": "geotab",
                    "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                  },
                  "providerHints": {
                    "type": "array",
                    "description": "An optional list of provider codes to hoist to the top of the Link provider list.",
                    "items": {
                      "type": "string",
                      "title": "Provider Code",
                      "example": "geotab",
                      "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                    }
                  },
                  "externalId": {
                    "type": "string",
                    "example": "fleet_456",
                    "description": "An optional ID from your system that can be used to reference connections."
                  },
                  "tags": {
                    "type": "array",
                    "description": "An optional list of tags from your system that can be used to reference connections.",
                    "items": {
                      "type": "string",
                      "example": "Tag Name"
                    }
                  },
                  "redirectUrl": {
                    "type": "string",
                    "format": "uri",
                    "example": "https://app.acme.com/telematics-success",
                    "description": "URL to redirect your user to after they complete the Link flow."
                  },
                  "syncMode": {
                    "type": "string",
                    "title": "SyncMode",
                    "enum": ["automatic", "manual"],
                    "description": "Enum values:\n- `automatic`: Terminal will keep this connections data up to date\n- `manual`: Terminal will only sync data upon request",
                    "default": "automatic"
                  },
                  "backfill": {
                    "type": "object",
                    "additionalProperties": false,
                    "description": "Optional backfill to be requested upon successful connection. Will start from NOW if not provided.",
                    "properties": {
                      "startFrom": {
                        "type": "string",
                        "title": "ISODateTime",
                        "format": "date-time",
                        "example": "2021-01-06T03:24:53.000Z",
                        "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                      },
                      "days": {
                        "type": "number"
                      }
                    }
                  },
                  "template": {
                    "type": "string",
                    "title": "LinkTemplateId",
                    "description": "Unique identifier for the Link Template.",
                    "format": "ulid",
                    "example": "ltp_01HXQ4YK8V2X0X0X0X0X0X0X0X"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Idempotent-Replayed": {
                "schema": {
                  "type": "boolean",
                  "enum": [true]
                },
                "description": "Always `true` on a 200 response. It indicates that an existing short link was returned instead of minting a new one."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ShortLink",
                  "description": "A short URL for the Link onboarding flow. The associated parameters are stored at creation time and retrieved when your user visits the URL.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ulid",
                      "pattern": "^slk_[0-9A-HJKMNP-TV-Z]{26}$",
                      "example": "slk_01JB7K3N2QZP7TVR4FX8SDWFH9",
                      "description": "Durable identifier for the short link resource."
                    },
                    "code": {
                      "type": "string",
                      "pattern": "^[a-hjkmnp-z2-9]{8}$",
                      "example": "az9qtk2d",
                      "description": "8-character code that is associated with the original Link parameters."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://term.new/az9qtk2d",
                      "description": "Full short URL to share with your user."
                    },
                    "expiresAt": {
                      "type": "string",
                      "title": "ISODateTime",
                      "format": "date-time",
                      "example": "2021-01-06T03:24:53.000Z",
                      "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                    }
                  },
                  "required": ["id", "code", "url", "expiresAt"]
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "ShortLink",
                  "description": "A short URL for the Link onboarding flow. The associated parameters are stored at creation time and retrieved when your user visits the URL.",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ulid",
                      "pattern": "^slk_[0-9A-HJKMNP-TV-Z]{26}$",
                      "example": "slk_01JB7K3N2QZP7TVR4FX8SDWFH9",
                      "description": "Durable identifier for the short link resource."
                    },
                    "code": {
                      "type": "string",
                      "pattern": "^[a-hjkmnp-z2-9]{8}$",
                      "example": "az9qtk2d",
                      "description": "8-character code that is associated with the original Link parameters."
                    },
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://term.new/az9qtk2d",
                      "description": "Full short URL to share with your user."
                    },
                    "expiresAt": {
                      "type": "string",
                      "title": "ISODateTime",
                      "format": "date-time",
                      "example": "2021-01-06T03:24:53.000Z",
                      "description": "[ISO 8601](https://www.w3.org/TR/NOTE-datetime) date"
                    }
                  },
                  "required": ["id", "code", "url", "expiresAt"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["bad_request"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request body"
                    },
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "ErrorPathDetail",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "'vehicleId' property must be a valid ulid"
                          },
                          "path": {
                            "type": "string",
                            "example": "{requestQuery}.vehicleId"
                          },
                          "suggestion": {
                            "type": "string",
                            "example": "Please ensure you submit a valid 'vehicleId' property"
                          },
                          "context": {
                            "type": "object"
                          }
                        },
                        "required": ["message", "path"]
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure you have a valid API key"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["forbidden"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure the connection token matches the resource you are attempting to access."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "code": {
                      "enum": ["too_many_requests"]
                    },
                    "retryAfter": {
                      "type": "integer",
                      "description": "The number of seconds to wait before retrying the request",
                      "example": 60
                    },
                    "message": {
                      "type": "string",
                      "example": "Too Many Requests"
                    },
                    "detail": {
                      "type": "string",
                      "example": "You have exceeded your rate limit. Please try again later."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Something went wrong"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["gateway_timeout"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Gateway Timeout"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        }
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles": {
      "get": {
        "summary": "List Vehicles",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Vehicle",
                        "additionalProperties": false,
                        "x-model-category": "entity",
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "VehicleId",
                            "description": "Unique identifier for the vehicle in Terminal.",
                            "format": "ulid",
                            "pattern": "^vcl_[0-9A-HJKMNP-TV-Z]{26}$",
                            "example": "vcl_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                          },
                          "name": {
                            "type": "string",
                            "example": "Big Red"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["active", "inactive"],
                            "example": "active",
                            "description": "The status in the providers system"
                          },
                          "sourceId": {
                            "type": "string",
                            "title": "SourceId",
                            "example": "123456789",
                            "description": "The ID used to represent the entity in the source system."
                          },
                          "provider": {
                            "type": "string",
                            "title": "Provider Code",
                            "example": "geotab",
                            "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                          },
                          "vin": {
                            "type": "string",
                            "title": "VIN",
                            "example": "1HGCM82633A004352"
                          },
                          "make": {
                            "type": "string",
                            "example": "Peterbilt"
                          },
                          "model": {
                            "type": "string",
                            "example": "Model 579"
                          },
                          "year": {
                            "type": "integer",
                            "example": 2016
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "title": "GroupId",
                                  "format": "ulid",
                                  "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                },
                                {
                                  "type": "object",
                                  "title": "Expanded Group",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "title": "GroupId",
                                      "format": "ulid",
                                      "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                    }
                                  },
                                  "required": ["id"]
                                }
                              ],
                              "description": "Entities in Terminal are expandable. Using the `expand` query parameter you can choose to ingest just an ID or the full entity details."
                            }
                          },
                          "devices": {
                            "type": "array",
                            "items": {
                              "example": "dvc_01D8ZQFGHVJ858NBF2Q7DV9MNC",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "title": "DeviceId",
                                  "format": "ulid",
                                  "example": "dvc_61D9ZWFGHVJ858NBF2Q7DV9MNC"
                                },
                                {
                                  "type": "object",
                                  "title": "Expanded Device",
                                  "properties": {
                                    "id": {
                                      "type": "string",
                                      "title": "DeviceId",
                                      "format": "ulid",
                                      "example": "dvc_61D9ZWFGHVJ858NBF2Q7DV9MNC"
                                    }
                                  },
                                  "required": ["id"]
                                }
                              ],
                              "description": "Entities in Terminal are expandable. Using the `expand` query parameter you can choose to ingest just an ID or the full entity details."
                            }
                          },
                          "licensePlate": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string",
                                "title": "State",
                                "enum": [
                                  "AL",
                                  "AK",
                                  "AS",
                                  "AZ",
                                  "AR",
                                  "CA",
                                  "CO",
                                  "CT",
                                  "DE",
                                  "FL",
                                  "GA",
                                  "GU",
                                  "HI",
                                  "ID",
                                  "IL",
                                  "IN",
                                  "IA",
                                  "KS",
                                  "KY",
                                  "LA",
                                  "ME",
                                  "MD",
                                  "MA",
                                  "MI",
                                  "MN",
                                  "MP",
                                  "MS",
                                  "MO",
                                  "MT",
                                  "NE",
                                  "NV",
                                  "NH",
                                  "NJ",
                                  "NM",
                                  "NY",
                                  "NC",
                                  "ND",
                                  "OH",
                                  "OK",
                                  "OR",
                                  "PA",
                                  "PR",
                                  "RI",
                                  "SC",
                                  "SD",
                                  "TN",
                                  "TX",
                                  "UT",
                                  "VT",
                                  "VA",
                                  "WA",
                                  "WV",
                                  "WI",
                                  "WY",
                                  "VI",
                                  "AB",
                                  "BC",
                                  "MB",
                                  "NB",
                                  "NL",
                                  "NS",
                                  "ON",
                                  "PE",
                                  "QC",
                                  "SK",
                                  "NT",
                                  "NU",
                                  "UM",
                                  "YT",
                                  "DC"
                                ],
                                "example": "TN",
                                "description": "US State or Canadian Province"
                              },
                              "number": {
                                "type": "string",
                                "example": "ABC-1234"
                              }
                            }
                          },
                          "fuelType": {
                            "enum": [
                              "gasoline",
                              "diesel",
                              "propane",
                              "electric",
                              "hybrid_gasoline",
                              "hybrid_diesel",
                              "biodiesel",
                              "compressed_natural_gas",
                              "liquefied_natural_gas",
                              "ethanol",
                              "hydrogen",
                              "plug_in_hybrid"
                            ],
                            "example": "diesel"
                          },
                          "fuelEfficiency": {
                            "type": "number",
                            "deprecated": true,
                            "description": "This field will be removed in the future as is not commonly available from providers.",
                            "example": 27.4
                          },
                          "fuelTankCapacity": {
                            "type": "number",
                            "description": "Maximum amount of fuel vehicle can hold in liters.",
                            "title": "Volume In Liters",
                            "example": 95.33
                          },
                          "createdAt": {
                            "type": "string",
                            "title": "SourceCreatedAt",
                            "format": "date-time",
                            "description": "The date and time the record was created in the provider's system. This timestamp comes directly from the source system and represents when the data was originally created there. Note: not all providers expose this."
                          },
                          "updatedAt": {
                            "type": "string",
                            "title": "SourceUpdatedAt",
                            "format": "date-time",
                            "description": "The date and time the record was updated in the provider's system. This timestamp comes directly from the source system and represents when the data was last updated there. Note: not all providers expose this."
                          },
                          "metadata": {
                            "type": "object",
                            "title": "CoreEntityMetadata",
                            "description": "Internal metadata about the record.",
                            "required": ["addedAt", "modifiedAt"],
                            "properties": {
                              "addedAt": {
                                "type": "string",
                                "title": "AddedAt",
                                "format": "date-time",
                                "description": "The date and time the record was ingested into Terminal. Note: this is not the date and time the record was created in the provider's system."
                              },
                              "deletedAt": {
                                "type": "string",
                                "title": "DeletedAt",
                                "format": "date-time",
                                "description": "The date and time the record was deleted from Terminal. Note: this is not the date and time the record was deleted in the provider's system."
                              },
                              "visibility": {
                                "type": "string",
                                "enum": [
                                  "visible",
                                  "hidden_by_exclude_list",
                                  "hidden_by_include_list",
                                  "hidden_by_status",
                                  "deleted"
                                ],
                                "example": "visible",
                                "description": "Visibility status of a resource. Read more about hidden records [here](https://docs.withterminal.com/guides/filtering)."
                              },
                              "modifiedAt": {
                                "type": "string",
                                "title": "ModifiedAt",
                                "format": "date-time",
                                "description": "The date and time the record was last updated in Terminal. Note: this is not the date and time the record was updated in the provider's system."
                              }
                            }
                          },
                          "raw": {
                            "type": "array",
                            "title": "RawDataList",
                            "example": [],
                            "items": {
                              "type": "object",
                              "title": "RawData",
                              "properties": {
                                "provider": {
                                  "type": "string"
                                },
                                "schema": {
                                  "type": "string"
                                },
                                "extractedAt": {
                                  "type": "string"
                                },
                                "data": {
                                  "type": "object"
                                }
                              },
                              "required": ["provider", "schema", "extractedAt", "data"]
                            }
                          }
                        },
                        "required": ["id", "sourceId", "provider", "status", "metadata"],
                        "x-description": "The model representing a vehicle in Terminal."
                      }
                    },
                    "next": {
                      "type": "string",
                      "title": "Pagination Cursor",
                      "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
                      "description": "Cursor used for pagination.",
                      "format": "cursor"
                    }
                  },
                  "required": ["results"]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["bad_request"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request body"
                    },
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "ErrorPathDetail",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "'vehicleId' property must be a valid ulid"
                          },
                          "path": {
                            "type": "string",
                            "example": "{requestQuery}.vehicleId"
                          },
                          "suggestion": {
                            "type": "string",
                            "example": "Please ensure you submit a valid 'vehicleId' property"
                          },
                          "context": {
                            "type": "object"
                          }
                        },
                        "required": ["message", "path"]
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure you have a valid API key"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["forbidden"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure the connection token matches the resource you are attempting to access."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "code": {
                      "enum": ["too_many_requests"]
                    },
                    "retryAfter": {
                      "type": "integer",
                      "description": "The number of seconds to wait before retrying the request",
                      "example": 60
                    },
                    "message": {
                      "type": "string",
                      "example": "Too Many Requests"
                    },
                    "detail": {
                      "type": "string",
                      "example": "You have exceeded your rate limit. Please try again later."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Something went wrong"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["gateway_timeout"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Gateway Timeout"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        },
        "operationId": "listVehicles",
        "parameters": [
          {
            "name": "Connection-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "con_tkn_22vUhkC6tgre4kwaYfUkCDA1rzn6eyb4",
              "pattern": "^con_tkn_\\S+$"
            },
            "description": "The token returned when a user authenticated their account. This authorizes access to a specific account."
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "cursor",
              "example": "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw"
            },
            "description": "Pagination cursor to start requests from"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The maximum number of results to return in a page."
          },
          {
            "name": "modifiedAfter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-01-06T03:24:53.000Z"
            },
            "description": "Only include records that were last modified after a provided date."
          },
          {
            "name": "modifiedBefore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2021-01-06T03:24:53.000Z"
            },
            "description": "Only include records that were last modified before a provided date."
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include raw responses used to normalize model. Used for debugging or accessing unique properties that are not unified."
          },
          {
            "name": "hidden",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Show hidden records that don't match the configured filters. Defaults to false."
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Show \"soft-deleted\" records that have been deleted from the provider. Defaults to false."
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups", "devices", "devices,groups", "groups,devices"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "List all of the vehicles in the connected account"
      },
      "parameters": [],
      "x-mcp": {
        "enabled": true
      }
    },
    "/vehicles/{id}": {
      "parameters": [
        {
          "name": "id",
          "schema": {
            "type": "string",
            "title": "VehicleId",
            "description": "Unique identifier for the vehicle in Terminal.",
            "format": "ulid",
            "pattern": "^vcl_[0-9A-HJKMNP-TV-Z]{26}$",
            "example": "vcl_01D8ZQFGHVJ858NBF2Q7DV9MNC"
          },
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Get Vehicle",
        "tags": ["Vehicles"],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Vehicle",
                  "additionalProperties": false,
                  "x-model-category": "entity",
                  "properties": {
                    "id": {
                      "type": "string",
                      "title": "VehicleId",
                      "description": "Unique identifier for the vehicle in Terminal.",
                      "format": "ulid",
                      "pattern": "^vcl_[0-9A-HJKMNP-TV-Z]{26}$",
                      "example": "vcl_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                    },
                    "name": {
                      "type": "string",
                      "example": "Big Red"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["active", "inactive"],
                      "example": "active",
                      "description": "The status in the providers system"
                    },
                    "sourceId": {
                      "type": "string",
                      "title": "SourceId",
                      "example": "123456789",
                      "description": "The ID used to represent the entity in the source system."
                    },
                    "provider": {
                      "type": "string",
                      "title": "Provider Code",
                      "example": "geotab",
                      "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                    },
                    "vin": {
                      "type": "string",
                      "title": "VIN",
                      "example": "1HGCM82633A004352"
                    },
                    "make": {
                      "type": "string",
                      "example": "Peterbilt"
                    },
                    "model": {
                      "type": "string",
                      "example": "Model 579"
                    },
                    "year": {
                      "type": "integer",
                      "example": 2016
                    },
                    "groups": {
                      "type": "array",
                      "items": {
                        "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC",
                        "oneOf": [
                          {
                            "type": "string",
                            "title": "GroupId",
                            "format": "ulid",
                            "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                          },
                          {
                            "type": "object",
                            "title": "Expanded Group",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "GroupId",
                                "format": "ulid",
                                "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                              }
                            },
                            "required": ["id"]
                          }
                        ],
                        "description": "Entities in Terminal are expandable. Using the `expand` query parameter you can choose to ingest just an ID or the full entity details."
                      }
                    },
                    "devices": {
                      "type": "array",
                      "items": {
                        "example": "dvc_01D8ZQFGHVJ858NBF2Q7DV9MNC",
                        "oneOf": [
                          {
                            "type": "string",
                            "title": "DeviceId",
                            "format": "ulid",
                            "example": "dvc_61D9ZWFGHVJ858NBF2Q7DV9MNC"
                          },
                          {
                            "type": "object",
                            "title": "Expanded Device",
                            "properties": {
                              "id": {
                                "type": "string",
                                "title": "DeviceId",
                                "format": "ulid",
                                "example": "dvc_61D9ZWFGHVJ858NBF2Q7DV9MNC"
                              }
                            },
                            "required": ["id"]
                          }
                        ],
                        "description": "Entities in Terminal are expandable. Using the `expand` query parameter you can choose to ingest just an ID or the full entity details."
                      }
                    },
                    "licensePlate": {
                      "type": "object",
                      "properties": {
                        "state": {
                          "type": "string",
                          "title": "State",
                          "enum": [
                            "AL",
                            "AK",
                            "AS",
                            "AZ",
                            "AR",
                            "CA",
                            "CO",
                            "CT",
                            "DE",
                            "FL",
                            "GA",
                            "GU",
                            "HI",
                            "ID",
                            "IL",
                            "IN",
                            "IA",
                            "KS",
                            "KY",
                            "LA",
                            "ME",
                            "MD",
                            "MA",
                            "MI",
                            "MN",
                            "MP",
                            "MS",
                            "MO",
                            "MT",
                            "NE",
                            "NV",
                            "NH",
                            "NJ",
                            "NM",
                            "NY",
                            "NC",
                            "ND",
                            "OH",
                            "OK",
                            "OR",
                            "PA",
                            "PR",
                            "RI",
                            "SC",
                            "SD",
                            "TN",
                            "TX",
                            "UT",
                            "VT",
                            "VA",
                            "WA",
                            "WV",
                            "WI",
                            "WY",
                            "VI",
                            "AB",
                            "BC",
                            "MB",
                            "NB",
                            "NL",
                            "NS",
                            "ON",
                            "PE",
                            "QC",
                            "SK",
                            "NT",
                            "NU",
                            "UM",
                            "YT",
                            "DC"
                          ],
                          "example": "TN",
                          "description": "US State or Canadian Province"
                        },
                        "number": {
                          "type": "string",
                          "example": "ABC-1234"
                        }
                      }
                    },
                    "fuelType": {
                      "enum": [
                        "gasoline",
                        "diesel",
                        "propane",
                        "electric",
                        "hybrid_gasoline",
                        "hybrid_diesel",
                        "biodiesel",
                        "compressed_natural_gas",
                        "liquefied_natural_gas",
                        "ethanol",
                        "hydrogen",
                        "plug_in_hybrid"
                      ],
                      "example": "diesel"
                    },
                    "fuelEfficiency": {
                      "type": "number",
                      "deprecated": true,
                      "description": "This field will be removed in the future as is not commonly available from providers.",
                      "example": 27.4
                    },
                    "fuelTankCapacity": {
                      "type": "number",
                      "description": "Maximum amount of fuel vehicle can hold in liters.",
                      "title": "Volume In Liters",
                      "example": 95.33
                    },
                    "createdAt": {
                      "type": "string",
                      "title": "SourceCreatedAt",
                      "format": "date-time",
                      "description": "The date and time the record was created in the provider's system. This timestamp comes directly from the source system and represents when the data was originally created there. Note: not all providers expose this."
                    },
                    "updatedAt": {
                      "type": "string",
                      "title": "SourceUpdatedAt",
                      "format": "date-time",
                      "description": "The date and time the record was updated in the provider's system. This timestamp comes directly from the source system and represents when the data was last updated there. Note: not all providers expose this."
                    },
                    "metadata": {
                      "type": "object",
                      "title": "CoreEntityMetadata",
                      "description": "Internal metadata about the record.",
                      "required": ["addedAt", "modifiedAt"],
                      "properties": {
                        "addedAt": {
                          "type": "string",
                          "title": "AddedAt",
                          "format": "date-time",
                          "description": "The date and time the record was ingested into Terminal. Note: this is not the date and time the record was created in the provider's system."
                        },
                        "deletedAt": {
                          "type": "string",
                          "title": "DeletedAt",
                          "format": "date-time",
                          "description": "The date and time the record was deleted from Terminal. Note: this is not the date and time the record was deleted in the provider's system."
                        },
                        "visibility": {
                          "type": "string",
                          "enum": [
                            "visible",
                            "hidden_by_exclude_list",
                            "hidden_by_include_list",
                            "hidden_by_status",
                            "deleted"
                          ],
                          "example": "visible",
                          "description": "Visibility status of a resource. Read more about hidden records [here](https://docs.withterminal.com/guides/filtering)."
                        },
                        "modifiedAt": {
                          "type": "string",
                          "title": "ModifiedAt",
                          "format": "date-time",
                          "description": "The date and time the record was last updated in Terminal. Note: this is not the date and time the record was updated in the provider's system."
                        }
                      }
                    },
                    "raw": {
                      "type": "array",
                      "title": "RawDataList",
                      "example": [],
                      "items": {
                        "type": "object",
                        "title": "RawData",
                        "properties": {
                          "provider": {
                            "type": "string"
                          },
                          "schema": {
                            "type": "string"
                          },
                          "extractedAt": {
                            "type": "string"
                          },
                          "data": {
                            "type": "object"
                          }
                        },
                        "required": ["provider", "schema", "extractedAt", "data"]
                      }
                    }
                  },
                  "required": ["id", "sourceId", "provider", "status", "metadata"],
                  "x-description": "The model representing a vehicle in Terminal."
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["bad_request"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Invalid request body"
                    },
                    "detail": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "ErrorPathDetail",
                        "properties": {
                          "message": {
                            "type": "string",
                            "example": "'vehicleId' property must be a valid ulid"
                          },
                          "path": {
                            "type": "string",
                            "example": "{requestQuery}.vehicleId"
                          },
                          "suggestion": {
                            "type": "string",
                            "example": "Please ensure you submit a valid 'vehicleId' property"
                          },
                          "context": {
                            "type": "object"
                          }
                        },
                        "required": ["message", "path"]
                      }
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["unauthorized"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Unauthorized Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure you have a valid API key"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["forbidden"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Forbidden Request"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Please ensure the connection token matches the resource you are attempting to access."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["not_found"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Resource not found"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Could not find resource with ID: 2342342"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true,
                  "properties": {
                    "code": {
                      "enum": ["too_many_requests"]
                    },
                    "retryAfter": {
                      "type": "integer",
                      "description": "The number of seconds to wait before retrying the request",
                      "example": 60
                    },
                    "message": {
                      "type": "string",
                      "example": "Too Many Requests"
                    },
                    "detail": {
                      "type": "string",
                      "example": "You have exceeded your rate limit. Please try again later."
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["internal_server_error"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Internal Server Error"
                    },
                    "detail": {
                      "type": "string",
                      "example": "Something went wrong"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "enum": ["gateway_timeout"]
                    },
                    "message": {
                      "type": "string",
                      "example": "Gateway Timeout"
                    }
                  },
                  "required": ["code", "message"]
                }
              }
            }
          }
        },
        "operationId": "getVehicle",
        "parameters": [
          {
            "name": "Connection-Token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "con_tkn_22vUhkC6tgre4kwaYfUkCDA1rzn6eyb4",
              "pattern": "^con_tkn_\\S+$"
            },
            "description": "The token returned when a user authenticated their account. This authorizes access to a specific account."
          },
          {
            "name": "raw",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "Include raw responses used to normalize model. Used for debugging or accessing unique properties that are not unified."
          },
          {
            "name": "expand",
            "schema": {
              "type": "string",
              "enum": ["groups", "devices", "devices,groups", "groups,devices"]
            },
            "in": "query",
            "description": "Expand resources in the returned response"
          }
        ],
        "description": "Get the details of a specific vehicle"
      },
      "x-mcp": {
        "enabled": true
      }
    },
    "/drivers": {
      "get": {
        "summary": "List Drivers",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "title": "Driver",
                        "additionalProperties": false,
                        "x-model-category": "entity",
                        "examples": [],
                        "properties": {
                          "id": {
                            "type": "string",
                            "title": "DriverId",
                            "description": "Unique identifier for the driver in Terminal.",
                            "format": "ulid",
                            "pattern": "^drv_[0-9A-HJKMNP-TV-Z]{26}$",
                            "example": "drv_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                          },
                          "status": {
                            "type": "string",
                            "enum": ["active", "inactive"],
                            "example": "active",
                            "description": "The status in the providers system"
                          },
                          "sourceId": {
                            "type": "string",
                            "title": "SourceId",
                            "example": "123456789",
                            "description": "The ID used to represent the entity in the source system."
                          },
                          "provider": {
                            "type": "string",
                            "title": "Provider Code",
                            "example": "geotab",
                            "description": "Every provider has a unique code to identify it across Terminal's system. You can find each provider's code under [provider details](/providers)."
                          },
                          "firstName": {
                            "type": "string",
                            "example": "Mike"
                          },
                          "middleName": {
                            "type": "string",
                            "example": "Bryan"
                          },
                          "lastName": {
                            "type": "string",
                            "example": "Miller"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "example": "driver@example.com"
                          },
                          "phone": {
                            "type": "string",
                            "title": "Phone",
                            "pattern": "^\\+?\\d{10,14}$",
                            "example": "+19058084567",
                            "description": "Phone number formatted in [E.164](https://www.twilio.com/docs/glossary/what-e164) formatting"
                          },
                          "username": {
                            "type": "string",
                            "description": "The driver's username for login purposes",
                            "example": "driver123"
                          },
                          "license": {
                            "type": "object",
                            "properties": {
                              "state": {
                                "type": "string",
                                "title": "State",
                                "enum": [
                                  "AL",
                                  "AK",
                                  "AS",
                                  "AZ",
                                  "AR",
                                  "CA",
                                  "CO",
                                  "CT",
                                  "DE",
                                  "FL",
                                  "GA",
                                  "GU",
                                  "HI",
                                  "ID",
                                  "IL",
                                  "IN",
                                  "IA",
                                  "KS",
                                  "KY",
                                  "LA",
                                  "ME",
                                  "MD",
                                  "MA",
                                  "MI",
                                  "MN",
                                  "MP",
                                  "MS",
                                  "MO",
                                  "MT",
                                  "NE",
                                  "NV",
                                  "NH",
                                  "NJ",
                                  "NM",
                                  "NY",
                                  "NC",
                                  "ND",
                                  "OH",
                                  "OK",
                                  "OR",
                                  "PA",
                                  "PR",
                                  "RI",
                                  "SC",
                                  "SD",
                                  "TN",
                                  "TX",
                                  "UT",
                                  "VT",
                                  "VA",
                                  "WA",
                                  "WV",
                                  "WI",
                                  "WY",
                                  "VI",
                                  "AB",
                                  "BC",
                                  "MB",
                                  "NB",
                                  "NL",
                                  "NS",
                                  "ON",
                                  "PE",
                                  "QC",
                                  "SK",
                                  "NT",
                                  "NU",
                                  "UM",
                                  "YT",
                                  "DC"
                                ],
                                "example": "TN",
                                "description": "US State or Canadian Province"
                              },
                              "number": {
                                "type": "string",
                                "example": "123-456-789-0"
                              }
                            }
                          },
                          "groups": {
                            "type": "array",
                            "items": {
                              "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC",
                              "oneOf": [
                                {
                                  "type": "string",
                                  "title": "GroupId",
                                  "format": "ulid",
                                  "example": "group_01D8ZQFGHVJ858NBF2Q7DV9MNC"
                                },
[...]
